/* Reset simples de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root, :root[data-theme='dark'] {
    /* definir cores padrão em Variável */
    
/*  --primary-color: #f0f0f0;  
    --primary-bg-color: #171111;  
    --secondary-bg-color: #28292E;
    --primary-border-color: #28292E;
    --secondary-border-color: #56575A; */

    --primary-color: #72b2ff; /* cor textos */
    --primary-bg-color: #030f14; /* BG = Background */
    --secondary-bg-color: #022b73;
    --primary-border-color: #043cbf;
    --secondary-border-color: #033976; 
        
    /* definir cores padrão para os TEXTOS em Variável */
    --title-color: #f7f9ff;
    --text-color: #f2f6fe;
    --link-color:#77a1d8;
    --icon-color: #396fec;
} 


  body {
    line-height: 1.6;
    font-family: Arial, sans-serif;

  }
  


.foto-h{
    width: 100px;
    border-radius: 100%;
    border: 5px solid rgba(78, 75, 75, 0.349);
    
    
}

#nav{
    display: flex; justify-content: center; align-items: center;
    background: var(--primary-border-color);    
}